body{
    background-color: azure;
}
.container{
   border: 2px solid;
   width:  70%;
   height: 70%;
   padding-left: 10px;
    
  
  margin-left: 200px;
}

.cv{
    background-color:lightgray;
    font-family: georgia;
    color: blue;
    font-weight: bold;
    size:24px;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;
    margin-bottom: 70px;
    margin-right: 10px;
    padding: 10px 0px 0 10px;
   
}
.pd{
    margin-bottom: 50px;
}
h2{
    font-family: georgia;
    color: darkred;
    font-size: 18px;
    letter-spacing:1em;
    
}
.edu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px;
    margin-bottom: 50px;
}
h2{
    grid-column: 1/-1;
    
}
.p{
    font-weight: bold;
   
}